@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Krona+One&display=swap');

.geral{
    color: #FFFFFF;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.nome-jogo{
    height: 100%;
}

.nome-jogo h1{
    font-family: "Krona One", sans-serif;
    font-size: xx-large;
}

.avaliacoes{
    display: flex;
    flex-direction: row;
}

.avaliacoes p{
    padding: 0 64px;
    font-family: "Krona One", sans-serif;
}

.imgs{
    display: flex;
}
.imgs img{
    padding: 5px;
    width: 100%;
}

.estrelas{
    width: 24px;
    height: 24px;
}

.av-notas{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.av-notas img{
    margin-top: 10px;
}

.av-notas p{
    float: right;
    margin-top: 10px;
}

.enredo{
    align-self: start;
    font-family: "Krona One", sans-serif;
    margin-top: 60px;
}

.enredo span, p{
    font-family: "Karla", sans-serif;
    font-weight: 400;
}
.span{
    color: #D5224E;
    font-family: "Krona One", sans-serif;
}



.coments-cabecalho{
    align-self: start;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.coments-cabecalho p {
    font-family: "Krona One", sans-serif;
}

.avaliar{
    font-family: "Krona One", sans-serif;
    color: #FF003F;    
}

.coments{
    width: 100%;
    height: auto;
    background-color: #1C171D;
    border-radius: 8px 8px 0px 0px;
}

.av{
    display: flex;
    justify-content: space-between;
    background-color: #1C171D;
    margin: 30px 30px 0px 30px;
    ;
}

.destaque{
    width: 300px;
    height: 40px;
    background-color: #D5224E;
    border-radius: 8px 4px 24px 8px;
}

.destaque p {
    margin-top: 7px;
    background-color: #D5224E;
    text-align: center;
    align-items: center;
    font-family: "Krona One", sans-serif;
}

.av-p{
    background-color: #1C171D;
    display: flex; 
    font-family: "Krona One", sans-serif;
}

.av-p p{
    background-color: #1C171D; 
    margin-left: 8px;
    font-weight: 600;
}

.av-p img{
    background-color: #1C171D; 
}

.coments1{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    background-color: #1C171D;
    border-radius: 0px 0px 8px 8px;
}

.nome-data{
    background-color: #1C171D;
    display: flex;
    justify-content: space-between;
    margin: 20px 30px 0px 30px;
}

.nome-data p {
    background-color: #1C171D;
    font-family: "Karla", sans-serif;
}

#nome{
    color: #D5224E;
}

#data{
    color: #787B81;
}

.titulo-coment{
    background-color: #1C171D;
}
.titulo-coment p{
    margin: 20px 30px 0px 30px;
    background-color: #1C171D;
    font-family: "Krona One", sans-serif;
}

.paragrafo{
    margin:10px 30px;
    background-color: #1C171D;
}

.paragrafo p{
    background-color: #1C171D;
    margin-bottom: 15px;
    font-family: "Karla", sans-serif;
}

